@import 'common';
.new-chat-bar-wrapper {
    align-items: flex-end;
    background-color: #f0f2f5;
    display: flex;
    @include padding(5,17,5,10)
}
.smiley-btn, .attach-btn {
    @include width(40);
    @include height(40);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include margin(0,8,0,0);
    cursor: pointer;
}
.chat-msg-input {
    flex: 1 1 auto;
    min-width: 20px;
    @include fontWeight(400);
    @include fontWeight(15);
    border-style: none;
    @include padding(9,12,11,12);
    @include margin(5,10,5,10);
    border-radius: 8px;
}
.voice-msg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    @include margin(0,5,0,5);
}